<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stock Updater</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
       <h1>Stock Updater</h1>
       <h2>Run Stock Updater Manually</h2>
       <form action="#" th:action="@{/updateInventory}" th:object="${user}" method="post">
            Username:
            <input type="text" name="username"/>
            Password:
            <input type="password" name="password"/>
            <input type="submit" value="Run Stock Updater"/>
        </form>
    </body>
</html>