<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fulfillment Platform - Inventory Updater</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Fulfillment Platform</h1>
    <hr />
    <a href="../">Home</a>
    <a href="../inventoryUpdater">Inventory Updater</a>
    <a href="../runHistory">Run History</a>
    <a href="../manageSuppliers">Manager Suppliers</a>
    <a href="../job">Job Manager</a>
    <hr />
    <h1>Inventory Updater</h1>
    <p>Run Stock Updater Manually</p>
    <form action="#"  th:action="@{/updateInventory}" th:object="${supplier}" method="post">
        <select th:field="*{supplierId}">
            <option th:each="supplier : ${suppliers}"
                    th:value="${supplier.supplierId}"
                    th:text="#{${supplier.supplierName}}"></option> <!-- TODO: Get the dropdown text to display properly !-->
        </select>
        <input type="submit" value="Run Stock Updater"/>
    </form>
</body>
</html>