<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fulfillment Platform - Manage Suppliers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Fulfillment Platform</h1>
    <hr />
    <a href="../">Home</a>
    <a href="../inventoryUpdater">Inventory Updater</a>
    <a href="../manageSuppliers">Manager Suppliers</a>
    <a href="../scheduler">Scheduler</a>
    <hr />
    <h1>Manage Suppliers</h1>
    <h2>Create New Supplier</h2>
    <form action="#" th:action="@{/addSupplier}" th:object="${supplier}" method="post">
        <p>Supplier Name: <input type="text" th:field="*{supplierName}"/></p>
        <p>Shopify API Key: <input type="text" th:field="*{shopifyApiKey}"/></p>
        <p>Shopify Password: <input type="text" th:field="*{shopifyPassword}"/></p>
        <p>Shop Name: <input type="text" th:field="*{shopName}"/></p>
        <p>Fulfil Subdomain: <input type="text" th:field="*{fulfillSubdomain}"/></p>
        <p>Fulfil API Key: <input type="text" th:field="*{fulfillApiKey}"/></p>
        <p>Supplier Code: <input type="text" th:field="*{supplierCode}"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
    <h2>Delete Supplier</h2>

    <div th:each="supplier : ${suppliers}">
        <span th:text="${supplier.supplierId}"></span>
        <span th:text="${supplier.supplierName}"></span>
        <form action="#" th:action="@{/deleteSupplier/{supplierId}(supplierId=${supplier.supplierId})}" th:object="${supplier}" th:method="delete">
            <input type="submit" value="Delete"/>
        </form>
        <hr/>
    </div>

</body>
</html>
